*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
._*
.~lock.*
.buildpath
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
_notes
dwsync.xml
*.komodoproject
.komodotools
.hg
.svn
.CVS
intermediate
publish
.idea
*.sass-cache
node_modules