/* -------------------------------------------------------------- 
	Buttons
-------------------------------------------------------------- */
.button {
    -webkit-user-drag: none;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    background-color: $primary-button-bg-color;
    border: none;
    border-radius: $primary-button-border-radius;
    color: $primary-button-color;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    padding: $primary-button-padding;
    text-align: center;
    text-decoration: none;
    transition: background 200ms ease-out;
    user-select: none;
    vertical-align: baseline;
    white-space: nowrap;
    zoom: 1;
    
    // Firefox: Get rid of the inner focus border
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    &:hover {
        background: darken($primary-button-bg-color, 8%);
    }
}// END .button

/*
    Disabled state
*/
.button[disabled],
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
    background-image: none;
    border: none;
    box-shadow: none;
    cursor: not-allowed;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    opacity: .4;
}

/*
    Hidden
*/
.button-hidden {
    display: none;
}