/* -------------------------------------------------------------- 
	Buttons
-------------------------------------------------------------- */
.button {
    -webkit-user-drag: none;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    background-color: #e6e6e6;
    border: none;
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition: background 150ms ease-out;
    user-select: none;
    vertical-align: baseline;
    white-space: nowrap;
    zoom: 1;
    
    // Firefox: Get rid of the inner focus border
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}// END .button

// Disabled state
.button[disabled],
.button_disabled,
.button_disabled:hover,
.button_disabled:focus,
.button_disabled:active {
    background-image: none;
    border: none;
    box-shadow: none;
    cursor: not-allowed;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    opacity: .4;
}

// Hidden
.button_hidden {
    display: none;
}