/* -------------------------------------------------------------- 
	Grid
	
	Example usage:
    
    <section class="grid">
        <div class="row">
            <div class="col_3"></div>
            <div class="col_3"></div>
            <div class="col_6"></div>
        </div>
    </section>
-------------------------------------------------------------- */
.grid,
.row {
    @include pie-clearfix;
}

.grid {
    margin: 0 auto;
    width: 100%;
    
    [class^="cols_"], 
    [class*=" cols_"] {
        float: left;
        min-height: 1px;
        padding: 1em;
        width: 100%; 
    } 
    
    @for $i from 1 through 12 {
        .col_#{$i} { 
            width: 100% / 12 * $i;
        }
    }
}  

@media #{$breakpoint-medium} {
    .grid {      
        width: 95%;
        max-width: $grid-max-width;
        
        @for $i from 1 through $grid-columns {      
            .col_#{$i} {         
                width: 100% / $grid-columns * $i;   
            }           
        }      
    } 
}