/* -------------------------------------------------------------- 
	Grid
	
	Example usage:
    
    <section class="grid">
        <div class="row">
            <div class="column_3"></div>
            <div class="column_3"></div>
            <div class="column_6"></div>
        </div>
    </section>
-------------------------------------------------------------- */
.grid,
.row {
    @include clearfix;
}

.grid {
    margin: 0 auto;
    width: 100%;
    
    .column {
        float: left;
        min-height: 1px;
        padding: 1em;
        width: 100%; 
    } 
}

@media #{$bp-medium} {
    
    .grid {
        @for $i from 1 through 12 {
            .column_#{$i} { 
                width: 100% / 12 * $i;
            }
        }
    }
    
}