/* -------------------------------------------------------------- 
	Fonts
	
	Usage:
	
    @font-face {
       font-family: 'PatuaOne';
       src: url('../fonts/patuaone-regular-webfont.eot');
       src: url('../fonts/patuaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/patuaone-regular-webfont.woff2') format('woff2'),
            url('../fonts/patuaone-regular-webfont.woff') format('woff'),
            url('../fonts/patuaone-regular-webfont.ttf') format('truetype'),
            url('../fonts/patuaone-regular-webfont.svg#patua_oneregular') format('svg');
       font-style: normal;
       font-weight: normal;
    }
-------------------------------------------------------------- */
