/* -------------------------------------------------------------- 
	General Layout
-------------------------------------------------------------- */
body {
	font-family: $font-helvetica;
	line-height: $line-height-base;
	//-webkit-font-smoothing: antialiased; // Use here if needed otherwise use of specific elements
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: auto;
	color: #252525;
	line-height: 1.1;
}

h1 {
}
h2{
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

// Paragraphs
p {
	color: #252525;
	margin: 0 0 16px;
}

// Links
a {

	&:hover {
		
	}
}

// Text highlight - Keep indented so SASS compilers don't mess this up.
	::selection {
		background: #e3e3e1;
	}
	::-moz-selection {
		background: #e3e3e1;
	}
	
// Clear
.clear {
	clear: both;
}

/**
 * Clearfix - use @extend .clearfix on classes or ID's which require it
 * e.g.
 *     .buttons {
 *         @extend %clearfix;
 *     }
**/
.clearfix,
%clearfix {
	@include pie-clearfix;
}