/*
    IE10 in Windows (Phone) 8

    Support for responsive views via media queries is kind of borked in IE10, for
    Surface/desktop in split view and for Windows Phone 8. This particular fix
    must be accompanied by a snippet of JavaScript to sniff the user agent and
    apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
    our Getting Started page for more information on this bug.

    For more information, see the following:
    Docs: http://getbootstrap.com/getting-started/#support-ie10-width
    
    Internet Explorer 10 doesn't differentiate device width from viewport width,
    and thus doesn't properly apply the media queries in Bootstrap's CSS.
    Normally you'd just add a quick snippet of CSS to fix this:
    
    @-ms-viewport { width: device-width; }
    
    However, this doesn't work for devices running Windows Phone 8 versions older
    than Update 3 (a.k.a. GDR3), as it causes such devices to show a mostly desktop
    view instead of narrow "phone" view. To address this, you'll need to include the
    following CSS and JavaScript to work around the bug.
    
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
            document.createTextNode(
                '@-ms-viewport{width:auto!important}'
            )
        )
        document.querySelector('head').appendChild(msViewportStyle)
    }
*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


// Floats
.pull_left {
    float: left;
}
.pull_right {
    float: right;
}


// Contextual emphasis
.text_warning {
	color: $colour-warning;
}
.text_error {
	color: $colour-error;
}
.text_valid {
	color: $colour-valid;
}
.text_info {
	color: $colour-info;
}


// Alignment
.text_left {
	text-align: left;
}
.text_right {
	text-align: right;
}
.text_center {
	text-align: center;
}


// Hide text
.text_hide {
    @include hide-text(); // Hide text from an element
}


// Responsive images (ensure images don't scale beyond their parents)
.img_responsive {
    @include img-responsive();
}


// Perfect circle
.img_circle {
    border-radius: 50%; // set radius in percents
}


// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr_only {
	@include size(1px);
	border: 0;
	clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}


// Toggling content
.invisible {
    visibility: hidden;
}


/*
    Media block
    Reference: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
    
    Example use:
    
    <div class="mb">
        <div class="mb_left">
        </div>

        <div class="mb_right">
        </div>
    </div>
*/
.mb,
.mb_right {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}
.mb {
    .mb_left {
        float: left;
        margin-right: 10px;
    }
}