/* -------------------------------------------------------------- 
	Alerts
-------------------------------------------------------------- */
.alert {
	border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

// Warning
.alert_warning {
	background-color: $message-warning-bg;
	border-color: $message-warning-border;
    color: $message-warning-text;
}

// Error
.alert_error {
    background-color: $message-danger-bg; 
	border-color: $message-danger-border;
    color: $message-danger-text;
}

// Success
.alert_success {
	background-color: $message-success-bg;
	border-color: $message-success-border;
    color: $message-success-text;
}