/* -------------------------------------------------------------- 
	Component animations
-------------------------------------------------------------- */

// We don't use the `.opacity()` mixin here since it causes a bug with text
// fields in IE7-8. Source: https://github.com/twitter/bootstrap/pull/3552.

.fade {
	@include single-transition(opacity, 150ms, linear, 0s);
    opacity: 0;
    
    &.in {
        opacity: 1;
    }
}

.collapse {
    display: none;
    
    &.in {
        display: block;
    }
}
.collapsing {
	@include single-transition(height, .35ms, ease, 0s);
    height: 0;
    overflow: hidden;
    position: relative;
}
