/* -------------------------------------------------------------- 
	Project Variables
-------------------------------------------------------------- */
/*** Typography ***/
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif; // sans-serif fonts
$font-georgia: Georgia, "Times New Roman", Times, serif; // serif fonts
$font-monaco: Monaco, Menlo, Consolas, "Courier New", monospace; // monospace fonts

/*** Base pixel size ***/
$base-pixel-size: 16px !default;

/*** Line height ***/
$line-height-base: 1.42857143;

/*** Colours ***/
$color-valid: #468847;
$color-warning: #c09853;
$color-error: #b94a48;
$color-info: #3a87ad;

/*** Sizes ***/
$x-small: 320px; // 20em
$small: 640px; // 40em
$medium: 768px; // 48em
$large: 1024px; // 64em
$x-large: 1440px; // 90em
$xx-large: 1920px; // 120em

/*** Buttons ***/
$primary-button-bg-color: #e6e6e6;
$primary-button-bg-hover-color: darken($primary-button-bg-color, 6%);
$primary-button-color: #444;
$primary-button-border-radius: 2px;
$primary-button-padding: 7px 12px;

/*** Menus ***/
$menu-font-size: 1.6; // rem font size
$menu-background: transparent;
$menu-button-bg-color: #e6e6e6;
$menu-button-bg-hover-color: #d2d2d2;
$menu-button-text-color: #444;
$menu-button-selected-bg-color: #1b809e;
$menu-button-text-selected: #fff;
$menu-border-color: #b7b7b7;
$menu-heading-color: #555;

/*** Container ***/
$container-width: 1000px;

/*** Image ***/
$image-border-radius: 5px;

/*** Forms ***/
$input-bg: #fff;
$input-border-color: #ccc;
$input-color: #404040;
$input-placeholder-color: #999;
$input-height: 34px;
$input-padding: 6px 12px;

/*** Tables ***/
$table-cell-padding: 8px;
$table-condensed-cell-padding: 5px;
$table-bg: transparent; // Overall background-color
$table-bg-accent: #f9f9f9; // For striping
$table-bg-hover: #f5f5f5;
$table-bg-active: #f5f5f5;
$table-border-color: #ddd; // Table and cell border

/*** Grid ***/
$grid-columns: 12;
$grid-max-width: $large;
$grid-column-padding: 1em;

/*** Breakpoints ***/
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$bp-x-small: "#{$screen} and (min-width: #{$x-small})" !default;
$bp-small: "#{$screen} and (min-width: #{$small})" !default;
$bp-medium: "#{$screen} and (min-width: #{$medium})" !default;
$bp-large: "#{$screen} and (min-width: #{$large})" !default;
$bp-x-large: "#{$screen} and (min-width: #{$x-large})" !default;
$bp-xx-large: "#{$screen} and (min-width: #{$xx-large})" !default;