/* --------------------------------------------------------------
	Pagination
-------------------------------------------------------------- */
.pagination {
    @include border-radius();
    display: inline-block;
    margin-bottom: $spacer-y;
    margin-top: $spacer-y;
    padding-left: 0;
}

.page-item {
    display: inline; // Remove list-style and block-level defaults

    &:first-child {
        .page-link {
            @include border-left-radius($border-radius);
            margin-left: 0;
        }
    }
    &:last-child {
        .page-link {
            @include border-right-radius($border-radius);
        }
    }

    &.active .page-link {
        @include plain-hover-focus {
            background-color: $pagination-active-bg;
            border-color: $pagination-active-border;
            color: $pagination-active-color;
            cursor: default;
            z-index: 2;
        }
    }

    &.disabled .page-link {
        @include plain-hover-focus {
            background-color: $pagination-disabled-bg;
            border-color: $pagination-disabled-border;
            color: $pagination-disabled-color;
            cursor: $cursor-disabled;
            pointer-events: none;
        }
    }
}

.page-link {
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;
    color: $pagination-color;
    float: left; // Collapse white-space
    margin-left: -1px;
    padding: $pagination-padding-y $pagination-padding-x;
    position: relative;
    text-decoration: none;

    @include hover-focus {
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
        color: $pagination-hover-color;
    }
}

// Sizing
.pagination-lg {
    @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}
.pagination-sm {
    @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
