/* -------------------------------------------------------------- 
	Grid
	
	Example usage:
    
    <div class="grid">
        <div class="row">
            <div class="col col-3"></div>
            <div class="col col-3"></div>
            <div class="col col-6"></div>
        </div>
    </div>
-------------------------------------------------------------- */
.grid,
.row {
    @include clearfix;
}

.grid {
    margin: 0 auto;
    width: 100%;
    
    .col {
        float: left;
        min-height: 1px;
        position: relative;
        padding: $grid-column-padding;
        width: 100%; 
    } 
}

@media #{$bp-medium} {
    
    .grid {
        @for $i from 1 through 12 {
            .col-#{$i} { 
                width: 100% / 12 * $i;
            }
        }
        @for $i from 1 through 12 {
            .col-offset-#{$i} { 
                margin-left: 100% / 12 * $i;
            }
        }
        @for $i from 1 through 12 {
            .col-push-#{$i} { 
                left: 100% / 12 * $i;
            }
        }
        @for $i from 1 through 12 {
            .col-pull-#{$i} { 
                right: 100% / 12 * $i;
            }
        }
    }
    
}