/*** Container ***/
.container {
    margin-left: auto;
    margin-right: auto;
    width: $container-width;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    max-width: $container-width;
    width: 100%;
}


/*** Floats ***/
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}


/*** Contextual emphasis ***/
.text-warning {
	color: $color-warning;
}
.text-error {
	color: $color-error;
}
.text-valid {
	color: $color-valid;
}
.text-info {
	color: $color-info;
}


/*** text alignment ***/
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
    text-align: justify;
}


/*** Hide text ***/
.hide-text {
    @include hide-text; // Hide text from an element
}

/*** Image ***/
// Responsive images (ensure images don't scale beyond their parents)
.image-responsive {
    @include img-responsive;
}

// Perfect circle
.image-circle {
    border-radius: 50%; // set radius in percents
}

// Border radius on image
.image-rounded {
    border-radius: $image-border-radius;
}


/*
 * Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content/
 */
.sr-only {
	@include size(1px);
	border: 0;
	clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}


/*** Invisible ***/
.invisible {
    visibility: hidden;
}

/*** Hidden ***/
.hidden {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0 !important;
    visibility: hidden !important;
}


/*** Aspect Ratio ***/
.four-three {
    @include aspect-ratio(4, 3);
}
.sixteen-nine {
    @include aspect-ratio(16, 9);
}


/*
 * Media block
 * Reference: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 * 
 * Example use:
 *  
 * <div class="mb">
 *     <div class="mb-left">
 *     </div>
 *
 *     <div class="mb-right">
 *     </div>
 * </div>
*/
.mb,
.mb-right {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}
.mb {
    .mb-left {
        float: left;
        margin-right: 10px;
    }
}


/*
    IE10 in Windows (Phone) 8

    Internet Explorer 10 in Windows 8 and Windows Phone 8
    Internet Explorer 10 doesn't differentiate device width from viewport width, and thus doesn't properly apply the media queries in Bootstrap's CSS. Normally you'd just add a quick snippet of CSS to fix this:
    
    @-ms-viewport {
            width: device-width;
    }
    
    However, this doesn't work for devices running Windows Phone 8 versions older than Update 3 (a.k.a. GDR3), as it causes such devices to show a mostly desktop view instead of narrow "phone" view. To address this, you'll need to include the following CSS and JavaScript to work around the bug.
    
    @-webkit-viewport   { width: device-width; }
    @-moz-viewport      { width: device-width; }
    @-ms-viewport       { width: device-width; }
    @-o-viewport        { width: device-width; }
    @viewport           { width: device-width; }
    
    
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
      var msViewportStyle = document.createElement('style')
      msViewportStyle.appendChild(
        document.createTextNode(
          '@-ms-viewport{width:auto!important}'
        )
      )
      document.querySelector('head').appendChild(msViewportStyle)
    }
*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }