/* -------------------------------------------------------------- 
	Menu
-------------------------------------------------------------- */
.menu {
    @include font-size($menu-font-size);
    background: $menu-background;
    
    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;
        
        &:focus {
            outline: 0;
        }
    }
    li {
        position: relative;
        
        a {
            background: $menu-button-bg-color;
            padding: 5px 20px;
            
            &:hover,
            &:focus,
            &:active {
                background: $menu-button-bg-hover-color;
            }
        }
        
        // Selected state
        &.menu-selected {
            a {
                background: $menu-button-selected-bg-color;
                color: $menu-button-text-selected;
            }
        }
        
        // Disabled state
        &.menu-disabled {
            > a {
                @include opacity(.5);
                background: $menu-button-bg-color;
                border-color: transparent;
                cursor: default;
                
                &:hover,
                &:focus,
                &:active {
                    background: $menu-button-bg-color;
                }
            }
        }
    }
    a {
        border: 1px solid transparent;
        border-left: none;
        border-right: none;
        color: $menu-button-text-color;
    }
    a,
    .menu-heading {
        display: block;
        color: inherit;
        padding: 5px 20px;
        text-decoration: none;
        transition: all 150ms ease-out;
        white-space: nowrap;
    }
    .menu-heading {
        border-bottom: 1px solid $menu-border-color;
        color: $menu-heading-color;
        font-size: inherit;
        margin-top: 0.5em;
        text-transform: uppercase;   
    }
    
    /*** Horizontal menu ***/
    &.menu-horizontal {
        border: none;
        width: 100%;
        
        > ul {
            display: inline-block;
            vertical-align: middle;
            zoom: 1;
        }
        
        // Initial menus should be inline-block so that they are horizontal
        li {
            display: inline-block;
            vertical-align: middle;
            zoom: 1;
            
            // Submenus should still be display: block;
            li {
                display: block;
                
                &.menu-separator {
                	height: 1px;
                	margin: 7px 2px;
                	width: auto;
                }
            }
            
            &.menu-separator {
            	height: 50%;
            	margin: 0 7px;
            	width: 1px;
            }
        }
        > .menu-heading {
            border: none;
            display: inline-block;
            margin: 0;
            vertical-align: middle;
            zoom: 1;
        }
    }// END .menu-horizontal
    
    &.menu-fixed {
        border: none;
        border-bottom: 1px solid $menu-border-color;
    }
}// END .menu


/*
 * Hidden menu
 */
.menu-hidden {
    display: none;
}

/*
 * Fixed menu
 */
.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/*
 * Menu separator
 */
.menu-separator {
    background-color: $menu-border-color;
    display: block;
    font-size: 0px;
    height: 1px;
    margin: 7px 2px;
    overflow: hidden;
}

/*
 * Paginator
 */
.paginator {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    list-style: none;
    margin: 0;
    padding: 0;
        
    li {
        display: inline;
        letter-spacing: normal;
        text-rendering: auto;
        vertical-align: top;
        word-spacing: normal;
        zoom: 1;
        
        a {
            height: 1.1em;
            padding: .8em 1.4em;
            text-decoration: none;
            vertical-align: top;
        }
    }
    .paginator-button {
        a {
            background: $menu-button-bg-color;
            color: $menu-button-text-color;
            
            &:hover,
            &:focus,
            &:active {
                background: $menu-button-bg-hover-color;
            }
        }
    }
    .paginator-active {
        a {
            background: $menu-button-selected-bg-color;
            color: $menu-button-text-selected;
        }
    }
}

@media #{$bp-small} {

    .menu {
        .menu-horizontal {
            width: auto;
        }
    }
    
}// END @media #{$bp-small}