/* --------------------------------------------------------------
	Extend Base
-------------------------------------------------------------- */
body {
    font-family: $font-helvetica;
    font-weight: 400;
    line-height: $line-height-base;
}


/* --------------------------------------------------------------
	Global Layout
-------------------------------------------------------------- */



/* --------------------------------------------------------------
	General Elements
-------------------------------------------------------------- */
