/* -------------------------------------------------------------- 
	Alerts
-------------------------------------------------------------- */

//============================================================
//
// Alert messages
//
// The mixin uses a @2x.png retina filename.
// E.g. logo.png and logo@2x.png
//
// Avaliable classes:
// .message_error
// .message_valid
// .message_warning
// .message_info
//
//============================================================
$message-types: (
    (error    $colour-error)
    (valid    $colour-valid)
    (warning  $colour-warning)
    (info     $colour-info)
) !default;
 
@each $message-type in $message-types {
    $type:  nth($message-type, 1);
    $color: nth($message-type, 2);
 
    .message_#{$type} {
    	@include message($color);
    }
}