/* -------------------------------------------------------------- 
	Project Variables
-------------------------------------------------------------- */
/*** Base pixel size ***/
$base-pixel-size: 16px !default;

/*** Line height ***/
$line-height-base: 1.55;

/*** Colours ***/
$colour-valid: #468847;
$colour-warning: #c09853;
$colour-error: #b94a48;
$colour-info: #3a87ad;

/*** Typography ***/
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif; // sans-serif fonts
$font-georgia: Georgia, "Times New Roman", Times, serif; // serif fonts
$font-monaco: Monaco, Menlo, Consolas, "Courier New", monospace; // monospace fonts

/*** Sizes ***/
$x-small: 320px; // 20em
$small: 640px; // 40em
$medium: 768px; // 48em
$large: 1024px; // 64em
$x-large: 1440px; // 90em
$xx-large: 1920px; // 120em

/*** Buttons ***/
$primary-button-bg-color: #e6e6e6;
$primary-button-color: #444;
$primary-button-border-radius: 2px;
$primary-button-padding: 0.5em 1em;

/*** Tables ***/
$table-cell-padding: 8px;
$table-condensed-cell-padding: 5px;

$table-bg: transparent; // Overall background-color
$table-bg-accent: #f9f9f9; // For striping
$table-bg-hover: #f5f5f5;
$table-bg-active: #f5f5f5;

$table-border-color: #ddd; // Table and cell border

/*** Grid ***/
$grid-columns: 12;
$grid-max-width: $large;

/*** Breakpoints ***/
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$bp-x-small: "#{$screen} and (min-width: #{$x-small})" !default;
$bp-small: "#{$screen} and (min-width: #{$small})" !default;
$bp-medium: "#{$screen} and (min-width: #{$medium})" !default;
$bp-large: "#{$screen} and (min-width: #{$large})" !default;
$bp-x-large: "#{$screen} and (min-width: #{$x-large})" !default;
$bp-xx-large: "#{$screen} and (min-width: #{$xx-large})" !default;