/* -------------------------------------------------------------- 
	Project Variables
-------------------------------------------------------------- */
// Colours
$colour-valid: #468847;
$colour-warning: #c09853;
$colour-error: #b94a48;
$colour-info: #3a87ad;


// Typography
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif; // sans-serif fonts
$font-georgia: Georgia, "Times New Roman", Times, serif; // serif fonts
$font-monaco: Monaco, Menlo, Consolas, "Courier New", monospace; // monospace fonts


// Line height
$line-height-base: 1.428571429; // 20/14


/*** Tables ***/
$table-cell-padding: 8px;
$table-condensed-cell-padding: 5px;

$table-bg: transparent; // Overall background-color
$table-bg-accent: #f9f9f9; // For striping
$table-bg-hover: #f5f5f5;
$table-bg-active: #f5f5f5;

$table-border-color: #ddd; // Table and cell border


/*** Grid ***/
$grid-columns: 12;
$grid-max-width: 65em;
 
// Grid Breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";