@mixin list-group-item-variant($state, $background, $color) {
    .list-group-item-#{$state} {
        background-color: $background;
        color: $color;
    }

    a.list-group-item-#{$state},
    button.list-group-item-#{$state} {
        color: $color;

        .list-group-item-heading {
            color: inherit;
        }

        @include hover-focus {
            background-color: darken($background, 5%);
            color: $color;
        }

        &.active {
            @include plain-hover-focus {
                background-color: $color;
                border-color: $color;
                color: #fff;
            }
        }
    }
}
