/* --------------------------------------------------------------
	Buttons
-------------------------------------------------------------- */
.btn {
    -webkit-user-drag: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-base;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    padding: $btn-padding-y $btn-padding-x;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-in-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    @include hover-focus-active {
        text-decoration: none;
    }
    &.focus {
        text-decoration: none;
    }

    &:active,
    &.active {
        background-image: none;
        outline: 0;
    }

    &:disabled,
    &.disabled {
        cursor: $cursor-disabled;
        opacity: .65;
    }

    // Link buttons
    //
    // Make a button look and behave like a link
    &--link {
        border-radius: 0;
        color: $link-color;
        font-weight: normal;

        &,
        &:active,
        &.active,
        &:disabled,
        &.disabled {
            background-color: transparent;
        }
        &,
        &:focus,
        &:active {
            border-color: transparent;
        }

        @include hover {
            border-color: transparent;
        }
        @include hover-focus {
            background-color: transparent;
            color: $link-hover-color;
            text-decoration: $link-hover-decoration;
        }
        &:disabled,
        &.disabled {
            @include hover-focus {
                color: $btn-link-disabled-color;
                text-decoration: none;
            }
        }
    }

    // Block button
    &--block {
        display: block;
        width: 100%;
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn,
[disabled] .btn {
    pointer-events: none;
}

// Vertically space out multiple block buttons
.btn--block + .btn--block {
    margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn--block {
        width: 100%;
    }
}
