// Responsive images (ensure images don't scale beyond their parents)
.img {
    &--fluid {
        @include img-fluid();
    }

    // Perfect circle
    &--circle {
        border-radius: 50%;
    }
}

// Figures
.figure {
    // Ensures the caption's text aligns with the image.
    display: inline-block;

    &--img {
        line-height: 1;
        margin-bottom: ($spacer-y / 2);
    }
    &--caption {
        color: $grey;
        font-size: $figure-caption-font-size;
    }
}
